<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ubah path ke folder index.php jika CodeIgniter tidak di root
    # Misalnya jika aplikasi kamu di folder /myapp/, gunakan: RewriteBase /myapp/
    RewriteBase /

    # Jika file atau direktori yang diminta tidak ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Arahkan semua request ke index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Nonaktifkan directory listing
Options -Indexes
